<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('head') %>
    <title><%= typeof title !== 'undefined' ? title + ' | ' : '' %>Music Master</title>
</head>
<body>
    <%- include('header') %>

    <main>
        <%- body %>
    </main>

    <%- include('footer') %>
</body>
</html> 